name: Solve VRPDFD

on:
  push:
    branches:
    - "main"
    paths-ignore:
    - "**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test-6:
    name: 6-customer problems
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        problem: ["6.10.1", "6.10.2", "6.10.3", "6.10.4", "6.20.1", "6.20.2", "6.20.3", "6.20.4", "6.5.1", "6.5.2", "6.5.3", "6.5.4"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build binary files
        run: scripts/build.sh

      - name: Run optimizer
        run: |
          for i in 0 1 2 3 4 5 6 7 8 9
          do
            echo "Run #$i"
            python vrpdfd.py ${{ matrix.problem }} \
            --dump "output-${{ matrix.problem }}-$i.json" \
          done

      - name: Upload solutions
        uses: actions/upload-artifact@v3
        with:
          name: vrpdfd-summary
          path: output-*.json

  test-10:
    name: 10-customer problems
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        problem: ["10.10.1", "10.10.2", "10.10.3", "10.10.4", "10.20.1", "10.20.2", "10.20.3", "10.20.4", "10.5.1", "10.5.2", "10.5.3", "10.5.4"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build binary files
        run: scripts/build.sh

      - name: Run optimizer
        run: |
          for i in 0 1 2 3 4 5 6 7 8 9
          do
            echo "Run #$i"
            python d2d.py ${{ matrix.problem }} \
            --dump "output-${{ matrix.problem }}-$i.json" \
          done

      - name: Upload solutions
        uses: actions/upload-artifact@v3
        with:
          name: vrpdfd-summary
          path: output-*.json

  summary:
    name: Summarize solutions
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    needs: [test-6, test-10]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: pip install -r dev-requirements.txt

      - name: Download solutions
        uses: actions/download-artifact@v3
        with:
          name: vrpdfd-summary
          path: vrpdfd-summary/

      - name: Summarize solutions
        run: |
          export PYTHONPATH=$GITHUB_WORKSPACE
          python scripts/vrpdfd-summary.py

      - name: Upload summary as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: summary
          path: |
            vrpdfd-summary/*.csv
